html {
    width: 100%;
    height: 100%;
}
body {
    margin:0;
    padding: 0;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
    color :#b1b4bd;
    background-color: #323a43;
    
}
a {
    color:#b1b4bd;
    font-weight: 500;
}
a:hover {
    color :aqua;
}
.header-background {
    height: 750px;  
    padding-top: 0px; 
    padding-bottom: 100px;
    text-align: center;
    background-image: url(../img/main-bg.jpg) ;
    background-size: cover;
}
.content-section-a {
    padding-top: 200px;
    padding-bottom: 200px;
    background: url(../img/the-games-bg.jpg);
    background-size: cover;
    
  }
  .section2 > h4 {
    margin-top: 0 auto;
    padding-top: 150px;

  }
  .section3 > h1 {
    
    padding-top: 250px;

  }


  .img-responsive {
    height : 200px;
    margin-left : 250px;
 
  }
  .content-section-b {
    height:750px;
    background: url(../img/features.jpg);
    background-size: cover;
  }
  .intro-message > h1 {
    margin-top: 0 auto;
    padding-top: 250px;
 
  }
  .content-section-c {
    height:750px;
    background: url(../img/requirements.png);
    background-size: cover;
  }

  .content-section-e {
    height:750px;
    background: url(../img/newsletter.png);
    background-size: cover;
  }
